*
!.gitignore
!alacritty/
!alacritty/**
!hypr/
!hypr/**
!nvim-vi/
!nvim-vi/**
nvim-vi/db_ui/
!branding/
!branding/**
!chromium-flags.conf
!bash/
!bash/**
!git/
!git/**
!opencode/
!opencode/**
!fontconfig/
!fontconfig/fonts.conf


!omarchy/
!omarchy/themes/
!omarchy/themes/gg-solarized-light/
!omarchy/themes/gg-solarized-light/**

